sudo: required

services:
  - docker

script:
  - docker build -t test/php:7.4 php/7.4/
  - docker build -t test/php:7.3 php/7.3/
  - docker build -t test/php:7.2 php/7.2/
  - docker build -t test/nginx nginx/
